body {
    height:996px;
    width: 616px;
    background-color: azure;
}

img {
    width:100%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-family: Arial;
}

ul li{
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    padding: 20px 5px;
    color:black;
    text-decoration: none;
}

a:hover {
        background-color: cadetblue;
        color:black
}

#menu{
    padding-left: -20%;
}